*{
	margin : 0 ; 
	padding : 0 ; 
}
body{
	background-image : url('../school.jpg') ;
	background-repeat: no-repeat ; 
	background-size:cover ;
	background-attachment:fixed; 
	font-family: sans-serif ;
	margin-top: 100px;

}

.container {
padding : 50px ; }


form {
	background-color:rgba(56, 46, 29,0.7) ; 
	padding:12px ;
    height : 360px ; }
	
.form-control {
    background-color : black; }

#submit:hover {
	background-color : #E5AC8B ;
}

#show:hover {
	background-color : #E5AC8B
}
label {
	color : rgba(243,162,21,0.7) ;
}


#table {
	color : white ;
	border-color :black ; 
	background-color : rgba(56, 46, 29 , 0.7) ;
	font-size: 20px;
	
}




